:root {
  --font-raleway: 'Raleway', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --hover-color: #2196f3;
  --main-btn-hover-color: #188ce8;
  --main-bright-color: #ffffff;
  --dakr-color: #212121;
  --light-color: #757575;
  --bg-butons-color: #f5f4fa;
  --bg-section-light: #f5f4fa;
  --bg--section-dakr: #2f303a;
  --border-cards-color: #eeeeee;
  --header-border-color: #ececec;
  --icon-color: #afb1b8;
  --bg-social-footer: rgba(255, 255, 255, 0.1);
  --transition-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ================================================================== */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ol,
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}
button {
  border: none;
}
/* ================================================================== */

body {
  font-family: var(--font-roboto);
  color: var(--dakr-color);
  background: var(--main-bright-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
.item {
  list-style: none;
}
.link {
  text-decoration: none;
}

.title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--dakr-color);
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--hover-color);
}
/* -------------------------------------Index.html------------------------------------------------------- */

/* -------------------------------------Header------------------------------------------------------- */

.header {
  /* padding: 24px 0px 25px 0px; */
  border-bottom: 1px solid var(--header-border-color);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo span {
  color: #000000;
}

.header__menu {
  margin-left: 93px;
}
.header__list {
  display: flex;
  gap: 50px;
}
.header__item {
}

.header__link {
  padding: 32px 0;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dakr-color);
  transition: color var(--transition-hover);
}
.header__link:hover,
.header__link:focus {
  color: var(--hover-color);
}
.current {
  color: var(--hover-color);
  position: relative;
}
.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background: var(--hover-color);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
}

.header__contacts {
  display: flex;
  margin-left: auto;
}
.header__contacts-contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: var(--light-color);
  transition: color var(--transition-hover);
}
.headet__contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header__contacts-contact:not(:last-child) {
  margin-right: 50px;
}
.header__contacts-contact:hover,
.header__contacts-contact:focus {
  color: var(--hover-color);
}

/* -------------------------------------Hero------------------------------------------------------- */
.hero {
  background: var(--bg--section-dakr);
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.hero__title {
  margin: 0 auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--main-bright-color);
}
.hero__button {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  min-width: 216px;
  background: var(--hover-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-bright-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background var(--transition-hover);
}
.hero__button:hover,
.hero__button:focus {
  background: var(--main-btn-hover-color);
}
/* -------------------------------------features------------------------------------------------------- */

.features {
  padding-bottom: 0;
}
.features__list {
  display: flex;
  gap: 30px;
}
.features__item {
}
.features__item-title {
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--dakr-color);
  margin-bottom: 10px;
}
.features__item-text {
  line-height: 1.71;
  color: var(--light-color);
}
.features__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-section-light);
  border-radius: 4px;
  min-height: 120px;
  margin-bottom: 30px;
}
/* -------------------------------------Work------------------------------------------------------- */
.work {
}
.work__title {
}
.work__list {
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__img {
}
.work__text {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-bright-color);
  position: absolute;
  bottom: 0;
}

/* -------------------------------------Teams------------------------------------------------------- */
.teams {
  background: var(--bg-section-light);
}
.teams__title {
}
.teams__list {
  display: flex;
  gap: 30px;
}
.teams__item {
  background: var(--main-bright-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.teams__content {
  padding: 30px 0;
  text-align: center;
}
.teams__img {
  width: 100%;
}
.teams__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--dakr-color);
  margin-bottom: 10px;
}
.teams__text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--light-color);
}
.teams__social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}
.teams__list {
}
.teams__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: color var(--transition-hover), background var(--transition-hover);
}
.teams__icon {
  fill: currentColor;
}
.teams__link:hover,
.teams__link:focus {
  color: var(--main-bright-color);
  background: var(--hover-color);
}
/* -------------------------------------Customets------------------------------------------------------- */

.customers {
  background: var(--main-bright-color);
}

.customers__container {
}

.customers__title {
}
.customers__list {
  display: flex;
  gap: 30px;
}
.customers__items {
}
.customers__link {
  display: flex;
  min-width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: border-color var(--transition-hover), color var(--transition-hover);
}
.customer__icon {
  fill: currentColor;
}
.customers__link:hover,
.customers__link:focus {
  border-color: var(--hover-color);
  color: var(--hover-color);
}
/* -------------------------------------Footer------------------------------------------------------- */
.footer {
  background: #2f303a;
  padding: 60px 0;
}
.footer__container {
  display: flex;
  /* gap: 70px; */
  align-items: baseline;
}
.footer__content {
  margin-right: 70px;
}
.footer__logo span {
  color: var(--main-bright-color);
}

.footer__addres {
  margin-top: 20px;
}
.footer__list {
}
.footer__item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-hover);
}
.footer__link:hover,
.footer__link:focus {
  color: var(--main-bright-color);
}
.footer__link-active {
  color: var(--main-bright-color);
  transition: color var(--transition-hover);
}
.footer__link-active:hover,
.footer__link-active:focus {
  color: rgba(255, 255, 255, 0.6);
}
.footer__social {
}
.social-footer {
}
.social-footer__title {
  font-weight: 700;
  color: var(--main-bright-color);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  margin-bottom: 20px;
}
.social-footer__list {
  display: flex;
  gap: 10px;
}
.social-footer__item {
}
.social-footer__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-social-footer);
  border-radius: 50%;
  color: var(--main-bright-color);
  transition: background var(--transition-hover);
}
.social-footer__icon {
  fill: currentColor;
}
.social-footer__link:hover,
.social-footer__link:focus {
  background: var(--hover-color);
}

/* -------------------------------------footer__subscription------------------------------------------------------- */
.footer__subscription {
  margin-left: auto;
}
.subscription-footer {
}
.subscription-footer__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bright-color);
  margin-bottom: 20px;
}
.subscription-footer__form {
  display: flex;
  gap: 12px;
}

.subscription-footer__input {
  min-width: 358px;
  min-height: 50px;
  padding: 0;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  background: transparent;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-bright-color);
  transition: border-color var(--transition-hover);
}
.subscription-footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription-footer__input:focus {
  border-color: var(--main-bright-color);
}
.subscription-footer__btn {
  padding: 10px 28px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--hover-color);
  border-radius: 4px;
  font-weight: 700;
  font-family: inherit;
  line-height: 1.88;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  fill: var(--main-bright-color);
  letter-spacing: 0.06em;
  color: var(--main-bright-color);
  transition: background var(--transition-hover);
  cursor: pointer;
}
.subscription-footer__btn:hover,
.subscription-footer__btn:focus {
  background: var(--main-btn-hover-color);
}
.subscription-footer-icon {
}

/* -------------------------------------portfolio.html------------------------------------------------------- */
/* -------------------------------------Portfolio------------------------------------------------------- */

.portfolio {
}
/* -------------------------------------Portfolio-filtr------------------------------------------------------- */

.portfolio__filtr {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filtr-portfolio__item {
}

.filtr-portfolio__btn {
  background: var(--bg-butons-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--dakr-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  transition: box-shadow var(--transition-hover), background var(--transition-hover),
    color var(--transition-hover);
}
.filtr-portfolio__btn:first-child {
  padding: 6px 25px;
}
.filtr-portfolio__btn:hover,
.filtr-portfolio__btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background: var(--hover-color);
  color: var(--main-bright-color);
}
/* -------------------------------------Portfolio-ggellery------------------------------------------------------ */

.portfolio__gellery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gellery-portfolio__item {
  flex-basis: calc((100% - 60px) / 3);
}
.gallery-portfolio__link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-hover);
}
.gallery-portfolio__link:hover,
.gallery-portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gellery-portfolio__image {
  width: 100%;
}
.gellery-portfolio__contant {
  border: 1px solid var(--border-cards-color);
  border-top: none;
  padding: 20px 24px;
}
.gellery-portfolio__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dakr-color);
  margin-bottom: 4px;
}
.gallery-portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--light-color);
}
.gallery-portfolio__wrapper {
  position: relative;
  overflow: hidden;
  /* width: 100%; */
}
.gallery-portfolio__link:hover .gallery-portfolio__wrapper-text,
.gallery-portfolio__link:focus .gallery-portfolio__wrapper-text {
  transform: translateY(0);
}
.gallery-portfolio__wrapper-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px 0 24px;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  color: var(--main-bright-color);
  transform: translateY(101%);
  transition: transform var(--transition-hover);
}

/* -------------------------------------Backdrop------------------------------------------------------ */
.backdrop {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-hover), visibility var(--transition-hover);
}
.modal {
  padding: 40px;
  width: 528px;
  height: 581px;
  background: var(--main-bright-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform var(--transition-hover);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}
.modal__btn {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.model__close-icon {
  transition: fill var(--transition-hover);
}
.modal__btn:hover .model__close-icon,
.modal__btn:focus .model__close-icon {
  fill: var(--hover-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* -------------------------------------Backdrop-form------------------------------------------------------ */
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dakr-color);
  margin-bottom: 12px;
}
.modal__form {
}
.form-modal {
}
.form-modal__lable {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--light-color);
  margin-bottom: 4px;
}
.form-modal__input-wrap {
  position: relative;
  margin-bottom: 10px;
}
.form-modal__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  fill: var(--dakr-color);
  transition: fill var(--transition-hover);
}
.form-modal__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  outline: transparent;
  color: var(--dakr-color);
  transition: border-color var(--transition-hover);
}
.form-modal__input:focus {
  border-color: var(--hover-color);
}
.form-modal__input:focus + .form-modal__icon {
  fill: var(--hover-color);
}
.form-modal__comment {
  width: 100%;
  height: 122px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}
.form-modal__comment::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-modal__check-label {
  line-height: 1.71;
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form-modal__check-label span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--dakr-color);
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background var(--transition-hover), fill var(--transition-hover),
    border-color var(--transition-hover);
}
.form-modal__check-input:checked + .form-modal__check-label span {
  background: var(--hover-color);
  border-color: transparent;
  fill: var(--main-bright-color);
}
.form-modal__link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--hover-color);
}
.form-modal__submit {
  margin: 0 auto;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  text-align: center;
  color: var(--main-bright-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--hover-color);
  min-width: 200px;
  padding: 10px 0;
  cursor: pointer;
  margin-top: 30px;
  transition: background var(--transition-hover);
  letter-spacing: 0.06em;
}
.form-modal__submit:hover,
.form-modal__submit:focus {
  background: var(--main-btn-hover-color);
}
